In [1]:
import numpy as np
import pandas as pd
import talib
import plotly.graph_objects as go
from tqdm import tqdm
from sklearn.preprocessing import MinMaxScaler
import torch.utils.data as Data
import torch.nn as nn
import torch
import os
from sklearn import linear_model

In [71]:
datapath = "/Users/zed/AI_Lab/DoubleEnsembleML/Data/BTC.csv"

In [74]:
df1 = pd.read_csv(datapath)

In [75]:
df1['tag'] = list(map(lambda x: 1 if x>=1 else 0,df.Close.shift(1)-df.Close))

In [76]:
df = df.drop(['Date'],axis=1)

In [56]:
from final_model import DEnsembleModel
model = DEnsembleModel()
model.fit(df)

/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
/Users/zed/.pyenv/versions/anaconda3-2020.11/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [63]:
pred  = model.predict(df)
y = df.tag
pred = pred.apply(lambda x:1 if x>= 0.6 else 0)
(y == pred).sum()/y.shape[0]

0.7685359427926233

In [64]:
pred.to_csv("pred.csv")

AttributeError: 'Series' object has no attribute 'set_columns'

In [77]:
a = pd.concat([df1.Date,df,pred],axis=1)

In [86]:
a['pre'] = a[0]

In [81]:
a.to_csv("pred.csv",index= None )

In [83]:
a

,Date,Open,High,Low,Close,Volume (BTC),Volume (Currency),Weighted Price,tag,0
0,2014-01-07,874.67040,892.06753,810.00000,810.00000,15.622378,1.315147e+04,841.835522,0,1
1,2014-01-08,810.00000,899.84281,788.00000,824.98287,19.182756,1.609733e+04,839.156269,0,1
2,2014-01-09,825.56345,870.00000,807.42084,841.86934,8.158335,6.784250e+03,831.572913,0,0
3,2014-01-10,839.99000,857.34056,817.00000,857.33056,8.024510,6.780220e+03,844.938794,0,0
4,2014-01-11,858.20000,918.05471,857.16554,899.84105,18.748285,1.669857e+04,890.671709,0,0
...,...,...,...,...,...,...,...,...,...,...
2652,2021-04-21,56500.00000,56805.50000,53600.00000,53815.20000,4788.013532,2.645352e+08,55249.477244,1,1
2653,2021-04-22,53815.30000,55459.40000,50500.00000,51730.00000,10144.204074,5.396125e+08,53194.167081,1,1
2654,2021-04-23,51709.30000,52124.40000,47549.30000,51178.70000,11159.243380,5.545896e+08,49697.773594,1,0
2655,2021-04-24,51178.60000,51200.00000,48746.40000,50093.40000,4039.459093,2.021033e+08,50032.268888,1,1
2656,2021-04-25,50085.70000,50580.40000,47000.00000,48677.40000,4963.986222,2.434547e+08,49044.194158,1,1

In [87]:
a = a.drop([0],axis = 1)

In [90]:
a.to_csv("pred.csv",index = None)